openapi: 3.0.0
info:
  title: 'DX Authentication, Authorization, and Accounting (AAA) Server'
  version: 5.6.0
  description: 'API specification for DX AAA Server. These APIs are used by users manage organisations, creadits  '
  license:
    name: Apache 2.0
  contact:
    name: For support contact DX Team at
    email: support@iudx.org.in
servers:
  - url: 'https://cos.iudx.org.in'
    description: Production
  - url: 'https://authvertx.iudx.io'
    description: Development
paths:
  /auth/v1/organisations/requests:
    get:
      summary: Get all organisation creation requests
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 41290efb-057b-4296-872c-a764f6ff5615
                        requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        name: Quant Sandbox
                        logoPath: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: 'https://ai.example.com'
                        address: '123 Quant Labs, Bangalore, India'
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        status: pending
                        userName: test test
                        empId: EMP12345
                        jobTitle: Manager
                        orgManagerphoneNo: +91-9876543210
                        orgDocuments: null
                        createdAt: '2025-06-03T16:01:59.532782'
                        updatedAt: '2025-06-03T16:01:59.532782'
                        tableName: organization_create_requests
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        requestedBy:
                          type: string
                        name:
                          type: string
                        logoPath:
                          type: string
                        entityType:
                          type: string
                        orgSector:
                          type: string
                        websiteLink:
                          type: string
                        address:
                          type: string
                        certificatePath:
                          type: string
                        pancardPath:
                          type: string
                        relevantDocPath:
                          type: string
                        status:
                          type: string
                        userName:
                          type: string
                        empId:
                          type: string
                        jobTitle:
                          type: string
                        orgManagerphoneNo:
                          type: string
                        orgDocuments:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: 68gz95wyt495q
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: exk9ai4b674hx
                      size:
                        type: integer
                        x-stoplight:
                          id: 3we0ltgnr3bp3
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: yv4wghr2odoij
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: ucldaqig5rrqi
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: rv11tnh70dk2d
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: 94av5w5dqsuu7
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 41290efb-057b-4296-872c-a764f6ff5615
                        requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        name: Quant Sandbox
                        logoPath: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: 'https://ai.example.com'
                        address: '123 Quant Labs, Bangalore, India'
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        status: pending
                        userName: test test
                        empId: EMP12345
                        jobTitle: Manager
                        orgManagerphoneNo: +91-9876543210
                        orgDocuments: null
                        createdAt: '2025-06-03T16:01:59.532782'
                        updatedAt: '2025-06-03T16:01:59.532782'
                        tableName: organization_create_requests
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - type
                  - title
                  - detail
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: wryqyab0ia55b
                  title:
                    type: string
                    x-stoplight:
                      id: s5ix6uyvf02y6
                  detail:
                    type: string
                    x-stoplight:
                      id: n7cqv95ogdboo
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
                Example 2:
                  value:
                    type: 'urn:dx:aaa:notAuthorized'
                    title: Not Authorized
                    detail: Unauthorized
                Example 3:
                  value:
                    type: 'urn:dx:aaa:notAuthorized'
                    title: Not Authorized
                    detail: Missing Bearer token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: hmywovy3990xb
                  title:
                    type: string
                    x-stoplight:
                      id: 9ob7pmmtusmjo
                  detail:
                    type: string
                    x-stoplight:
                      id: 3hvi1807bvjlq
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:MissingInformation'
                    title: Joining requests not found
                    detail: No joining requests
      operationId: get-auth-v1-organisations-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    parameters: []
    post:
      summary: New organisation creation request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      requestedBy:
                        type: string
                      name:
                        type: string
                      logoPath:
                        type: string
                      entityType:
                        type: string
                      orgSector:
                        type: string
                      websiteLink:
                        type: string
                      address:
                        type: string
                      certificatePath:
                        type: string
                      pancardPath:
                        type: string
                      relevantDocPath:
                        type: string
                      status:
                        type: string
                      userName:
                        type: string
                      empId:
                        type: string
                      jobTitle:
                        type: string
                      orgManagerphoneNo:
                        type: string
                      orgDocuments:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: 4202493c-7c64-49b0-8f61-2000ca3d147c
                      requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                      name: Quants Sandbox
                      logoPath: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: 'https://ai.example.com'
                      address: '123 Quant Labs, Bangalore, India'
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      status: pending
                      userName: test test
                      empId: EMP12345
                      jobTitle: Manager
                      orgManagerphoneNo: +91-9876543210
                      orgDocuments: null
                      createdAt: '2025-06-03T16:25:25.167724'
                      updatedAt: '2025-06-03T16:25:25.167724'
                      tableName: organization_create_requests
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: 4202493c-7c64-49b0-8f61-2000ca3d147c
                      requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                      name: Quants Sandbox
                      logoPath: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: 'https://ai.example.com'
                      address: '123 Quant Labs, Bangalore, India'
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      status: pending
                      userName: test test
                      empId: EMP12345
                      jobTitle: Manager
                      orgManagerphoneNo: +91-9876543210
                      orgDocuments: null
                      createdAt: '2025-06-03T16:25:25.167724'
                      updatedAt: '2025-06-03T16:25:25.167724'
                      tableName: organization_create_requests
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:conflict'
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint "organization_create_requests_name_key" (23505)'
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:conflict'
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint "organization_create_requests_name_key" (23505)'
      operationId: post-auth-v1-organisations-request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                logo_path:
                  type: string
                entity_type:
                  type: string
                org_sector:
                  type: string
                website_link:
                  type: string
                address:
                  type: string
                certificate_path:
                  type: string
                pancard_path:
                  type: string
                emp_id:
                  type: string
                job_title:
                  type: string
                phone_no:
                  type: string
              x-examples:
                Example 1:
                  name: Quantum Labs
                  logo_path: /assets/logos/quantumlabs.png
                  entity_type: Startup
                  org_sector: Research & Development
                  website_link: 'https://quantumlabs.io'
                  address: '42 Tech Boulevard, Hyderabad, India'
                  certificate_path: /docs/certificates/quantum_cert.pdf
                  pancard_path: /docs/ids/quantum_pancard.pdf
                  emp_id: EMP98765
                  job_title: Operations Lead
                  phone_no: +91-9123456789
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  /auth/v1/organisations/requests/approve:
    post:
      summary: Approve creation of new organisation
      tags:
        - Organisation APIs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Updated Sucessfully
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Updated Sucessfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 8mwan6a4rudya
                  title:
                    type: string
                    x-stoplight:
                      id: 9w5xzqrq9x19k
                  detail:
                    type: string
                    x-stoplight:
                      id: qlvemu921kdlk
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:badRequest'
                    title: Bad Request
                    detail: No request found with given ID
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: nt8j2b9frgg5r
                  title:
                    type: string
                    x-stoplight:
                      id: lyqb3fbie5u7k
                  detail:
                    type: string
                    x-stoplight:
                      id: kf7uun4lxc5os
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 0f1x03q0j8o00
                  title:
                    type: string
                    x-stoplight:
                      id: qyo2ele3ov18a
                  '':
                    type: string
                    x-stoplight:
                      id: 88tmiotxgp7lb
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:conflict'
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint "organizations_name_key" (23505)'
      operationId: post-auth-v1-approve-create_org
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                req_id:
                  type: string
                  x-stoplight:
                    id: zub3jg9z34a4p
                status:
                  type: string
                  x-stoplight:
                    id: pz5gx6wsffeut
  '/auth/v1/organisations/{id}/join_requests':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
    get:
      summary: Get all requests for an organisation
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 5fc228bb-9a20-4052-968e-427c733d2264
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: ac2f3390-c7b0-4d4e-bb72-0bb8d9170309
                        userName: coder coder
                        status: pending
                        jobTitle: Employee
                        empId: EMP8790
                        requestedAt: '2025-06-03T16:35:48.404509'
                        processedAt: '2025-06-03T16:35:48.404509'
                        tableName: organization_join_requests
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        organizationId:
                          type: string
                        userId:
                          type: string
                        userName:
                          type: string
                        status:
                          type: string
                        jobTitle:
                          type: string
                        empId:
                          type: string
                        requestedAt:
                          type: string
                        processedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: g611fejvw6i5c
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: m1tr4l1qlfhyi
                      size:
                        type: integer
                        x-stoplight:
                          id: 5phhnqq4a33vk
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: zax7u0jx6y8vi
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: w6u2rx121k799
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: bkdi5mfhznyeg
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: 0mi5or7vq74qf
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 5fc228bb-9a20-4052-968e-427c733d2264
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: ac2f3390-c7b0-4d4e-bb72-0bb8d9170309
                        userName: coder coder
                        status: pending
                        jobTitle: Employee
                        empId: EMP8790
                        requestedAt: '2025-06-03T16:35:48.404509'
                        processedAt: '2025-06-03T16:35:48.404509'
                        tableName: organization_join_requests
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
      operationId: get-auth-v1-organisations-join-requests
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    post:
      summary: Create Request to Join an Organisation
      tags:
        - Organisation APIs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Created Join request
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Created Join request
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: vugk6ilg26a7a
                  title:
                    type: string
                    x-stoplight:
                      id: 0nehty79al40z
                  '':
                    type: string
                    x-stoplight:
                      id: a0ccu7f7eoujm
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidInput'
                    title: Invalid Organisation
                    detail: The Organisation is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: ez0mbo8avj6am
                  title:
                    type: string
                    x-stoplight:
                      id: ipq7cxbadj5tu
                  detail:
                    type: string
                    x-stoplight:
                      id: eoitel89s12bg
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
                Example 2:
                  value:
                    type: 'urn:dx:aaa:notAuthorized'
                    title: Not Authorized
                    detail: Unauthorized
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:conflict'
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint "organization_join_requests_user_id_key" (23505)'
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:conflict'
                    title: Conflict
                    detail: 'ERROR: duplicate key value violates unique constraint "organization_join_requests_user_id_key" (23505)'
      operationId: post-auth-v1-organisations-join-requests
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                job_title:
                  type: string
                  x-stoplight:
                    id: u1mdnw61cyv6c
                emp_id:
                  x-stoplight:
                    id: u3n9nnqgrnbot
                  type: string
            examples:
              Example 1:
                value:
                  job_title: Employee
                  emp_id: EMP8790
  '/auth/v1/organisations/{id}/join_requests/{req_id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
      - name: req_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Request ID of the join request to update
    put:
      summary: Approve or update status of a join request
      tags:
        - Organisation APIs
      operationId: put-auth-v1-organisations-join-requests
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
              x-examples:
                Example 1:
                  status: granted
            examples:
              Example 1:
                value:
                  status: granted
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Approved Organisation Join Request
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Approved Organisation Join Request
        '400':
          description: Invalid request or status
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:badRequest'
                    title: Bad Request
                    detail: No request found with given ID
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:notAuthorized'
                    title: Not Authorized
                    detail: Unauthorized
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:notAuthorized'
                    title: Not Authorized
                    detail: Unauthorized
        '404':
          description: Join request not found
  /auth/v1/organisations:
    get:
      summary: List All Organisations
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: e87246e2-5da5-40b0-973c-690d2f48f879
                        orgName: Quant Sandbox
                        orgLogo: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: 'https://ai.example.com'
                        address: '123 Quant Labs, Bangalore, India'
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        orgDocuments: null
                        createdAt: '2025-06-03T16:28:24.205541'
                        updatedAt: '2025-06-03T16:28:24.205541'
                        tableName: organizations
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        orgName:
                          type: string
                        orgLogo:
                          type: string
                        entityType:
                          type: string
                        orgSector:
                          type: string
                        websiteLink:
                          type: string
                        address:
                          type: string
                        certificatePath:
                          type: string
                        pancardPath:
                          type: string
                        relevantDocPath:
                          type: string
                        orgDocuments:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: ovssaqwsc8tf6
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: xb7s3m8lzcetn
                      size:
                        type: integer
                        x-stoplight:
                          id: 3jjx01zggkwbr
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: q0uuo9pfi5bc8
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: rv92iqo7um14v
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: iln40dfs71bnk
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: rn3a509g73wgf
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: e87246e2-5da5-40b0-973c-690d2f48f879
                        orgName: Quant Sandbox
                        orgLogo: /logos/ai.png
                        entityType: Private
                        orgSector: Technology
                        websiteLink: 'https://ai.example.com'
                        address: '123 Quant Labs, Bangalore, India'
                        certificatePath: /documents/certificate.pdf
                        pancardPath: /documents/pancard.pdf
                        relevantDocPath: null
                        orgDocuments: null
                        createdAt: '2025-06-03T16:28:24.205541'
                        updatedAt: '2025-06-03T16:28:24.205541'
                        tableName: organizations
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 9wrbsxlphpksr
                  title:
                    type: string
                    x-stoplight:
                      id: r7kv2o5mhdmrk
                  detail:
                    type: string
                    x-stoplight:
                      id: eavbt2unc332t
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 0d521fniq5ryq
                  title:
                    type: string
                    x-stoplight:
                      id: coae2yhcsmxkx
                  detail:
                    type: string
                    x-stoplight:
                      id: pwpn3m1hrm4f7
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:MissingInformation'
                    title: No Organisations Found
                    detail: No Organisations Found
      operationId: get-auth-v1-org
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  '/auth/v1/organisations/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: UUID of organization
    delete:
      summary: Delete organisation by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: delete-auth-v1-organisations-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    put:
      summary: Update Organisation by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      orgName:
                        type: string
                      orgLogo:
                        type: string
                      entityType:
                        type: string
                      orgSector:
                        type: string
                      websiteLink:
                        type: string
                      address:
                        type: string
                      certificatePath:
                        type: string
                      pancardPath:
                        type: string
                      relevantDocPath:
                        type: string
                      orgDocuments:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      orgName: Quantum Truely
                      orgLogo: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: 'https://ai.example.com'
                      address: '123 Quant Labs, Bangalore, India'
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      orgDocuments: null
                      createdAt: '2025-06-03T16:28:24.205541'
                      updatedAt: '2025-06-03T16:28:24.205541'
                      tableName: organizations
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      orgName: Quantum Truely
                      orgLogo: /logos/ai.png
                      entityType: Private
                      orgSector: Technology
                      websiteLink: 'https://ai.example.com'
                      address: '123 Quant Labs, Bangalore, India'
                      certificatePath: /documents/certificate.pdf
                      pancardPath: /documents/pancard.pdf
                      relevantDocPath: null
                      orgDocuments: null
                      createdAt: '2025-06-03T16:28:24.205541'
                      updatedAt: '2025-06-03T16:28:24.205541'
                      tableName: organizations
      operationId: put-auth-v1-organisations-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              x-examples:
                Example 1:
                  name: Quantum Truely
            examples:
              Example 1:
                value:
                  name: Quantum Truely
    get:
      summary: Get Organisation By ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      name: Quant Sandbox
                      logo_path: /logos/ai.png
                      entity_type: Private
                      org_sector: Technology
                      website_link: 'https://ai.example.com'
                      address: '123 Quant Labs, Bangalore, India'
                      certificate_path: /documents/certificate.pdf
                      pancard_path: /documents/pancard.pdf
                      created_at: '2025-06-03T16:28:24.205541'
                      updated_at: '2025-06-03T16:28:24.205541'
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      logo_path:
                        type: string
                      entity_type:
                        type: string
                      org_sector:
                        type: string
                      website_link:
                        type: string
                      address:
                        type: string
                      certificate_path:
                        type: string
                      pancard_path:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: i2j6hw45mr0m1
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: atus73ss5j3hx
                      size:
                        type: integer
                        x-stoplight:
                          id: ldplp5tqmab1s
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: 5b8htl3mzyatn
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: 8rxpevtk2xz4z
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: dbvf8j5jsd3qq
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: bq5pj0ajkf4wq
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: e87246e2-5da5-40b0-973c-690d2f48f879
                      name: Quant Sandbox
                      logo_path: /logos/ai.png
                      entity_type: Private
                      org_sector: Technology
                      website_link: 'https://ai.example.com'
                      address: '123 Quant Labs, Bangalore, India'
                      certificate_path: /documents/certificate.pdf
                      pancard_path: /documents/pancard.pdf
                      created_at: '2025-06-03T16:28:24.205541'
                      updated_at: '2025-06-03T16:28:24.205541'
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
      operationId: get-auth-v1-organisations-id
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: UUID of organization
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  '/auth/v1/organisations/{id}/users':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
    get:
      summary: List organisation Users
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 81980801-85b6-4b7d-ae54-5df38a3535bd
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        userName: test test
                        role: ADMIN
                        jobTitle: Manager
                        empId: EMP12345
                        orgManagerPhoneNo: +91-9876543210
                        createdAt: '2025-06-03T16:28:24.852025'
                        updatedAt: '2025-06-03T16:28:24.852025'
                        tableName: organization_users
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        organizationId:
                          type: string
                        userId:
                          type: string
                        userName:
                          type: string
                        role:
                          type: string
                        jobTitle:
                          type: string
                        empId:
                          type: string
                        orgManagerPhoneNo:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: habzk85vhyv4i
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: qquspu2iw2wyf
                      size:
                        type: integer
                        x-stoplight:
                          id: 5rqm7fj3rgcqi
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: iwkoo03wfc2d2
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: euhafbyvvrncv
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: ndure5aywto2y
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: cbqgznf2sy6d3
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 81980801-85b6-4b7d-ae54-5df38a3535bd
                        organizationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        userName: test test
                        role: ADMIN
                        jobTitle: Manager
                        empId: EMP12345
                        orgManagerPhoneNo: +91-9876543210
                        createdAt: '2025-06-03T16:28:24.852025'
                        updatedAt: '2025-06-03T16:28:24.852025'
                        tableName: organization_users
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: ki8ptrubbpfo4
                  title:
                    type: string
                    x-stoplight:
                      id: cy2up8v8a5pd0
                  detail:
                    type: string
                    x-stoplight:
                      id: 67gt97omjofae
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:MissingInformation'
                    title: Admins not found
                    detail: No Organisation Admins Found
      operationId: get-auth-v1-org-users
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: UUID of organizations
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  '/auth/v1/organisations/{id}/users/{user_id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        required: true
        description: UUID of the user
        schema:
          type: string
          format: uuid
    delete:
      summary: Delete User by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Deleted Organisation User
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Deleted Organisation User
      operationId: delete-auth-v1-organisations-users-id
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
          description: UUID of user
        - schema:
            type: string
          in: query
          description: UUID of organization
          name: id
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    put:
      summary: Update Organization User Role
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Updated Organisation User Role
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: Updated Organisation User Role
      operationId: put-auth-v1-organization-users-role
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  x-stoplight:
                    id: 35dhxezcb35eq
            examples:
              Example 1:
                value:
                  role: MEMBER
        description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: 'organization UUID '
        - schema:
            type: string
          in: query
          name: user_id
          description: user's UUID
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    get:
      summary: (Org Admin) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-organisations-id-users-user_id
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  /auth/v1/credit/request:
    get:
      summary: Get all credit requests by status
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: f1061c0c-21fd-46ad-9cb3-83e479b8635d
                        userId: 436cb796-5826-458b-a914-a54721f70997
                        userName: test test
                        amount: 10000
                        status: pending
                        requestedAt: '2025-06-04T09:47:27.323861'
                        processedAt: '2025-06-04T09:47:27.323861'
                        tableName: credit_requests
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type: string
                        userName:
                          type: string
                        amount:
                          type: integer
                        status:
                          type: string
                        requestedAt:
                          type: string
                        processedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: my3px3mqewfgl
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: 9goqrkh1sslar
                      size:
                        type: integer
                        x-stoplight:
                          id: ilgv9t0luge3z
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: wuibbpgtxgiua
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: 9v8m5zcqo3hz8
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: 6grp7j6i0idak
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: jerroo5o1sohq
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: f1061c0c-21fd-46ad-9cb3-83e479b8635d
                        userId: 436cb796-5826-458b-a914-a54721f70997
                        userName: test test
                        amount: 10000
                        status: pending
                        requestedAt: '2025-06-04T09:47:27.323861'
                        processedAt: '2025-06-04T09:47:27.323861'
                        tableName: credit_requests
                    'null': null
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
      operationId: get-auth-v1-credit
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    post:
      summary: Create Credit Request
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type: string
                      userName:
                        type: string
                      amount:
                        type: integer
                      status:
                        type: string
                      requestedAt:
                        type: string
                      processedAt:
                        type: string
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: f1061c0c-21fd-46ad-9cb3-83e479b8635d
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      userName: test test
                      amount: 10000
                      status: pending
                      requestedAt: '2025-06-04T09:47:27.323861'
                      processedAt: '2025-06-04T09:47:27.323861'
                      tableName: credit_requests
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: f1061c0c-21fd-46ad-9cb3-83e479b8635d
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      userName: test test
                      amount: 10000
                      status: pending
                      requestedAt: '2025-06-04T09:47:27.323861'
                      processedAt: '2025-06-04T09:47:27.323861'
                      tableName: credit_requests
      operationId: post-auth-v1-credit-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: double
                  x-stoplight:
                    id: 37g76x7a4vgf8
            examples:
              Example 1:
                value:
                  amount: 2000
    put:
      summary: Update Credit Request Status
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type: string
                      amount:
                        type: integer
                      transactedBy:
                        type: string
                      transactionStatus:
                        type: string
                      transactionType:
                        type: string
                      createdAt:
                        type: string
                      requestedAt:
                        type: string
                      updatedBalance:
                        type: integer
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: 8e6d2003-88ae-47ee-9779-c21d9c3a4091
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      amount: 10000
                      transactedBy: a2899137-8458-40a6-9be8-084cfd1890e5
                      transactionStatus: success
                      transactionType: credit
                      createdAt: '2025-06-04T10:45:06.361576'
                      requestedAt: '2025-06-04T09:47:27.323861'
                      updatedBalance: 20000
                      tableName: credit_transactions
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: 8e6d2003-88ae-47ee-9779-c21d9c3a4091
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      amount: 10000
                      transactedBy: a2899137-8458-40a6-9be8-084cfd1890e5
                      transactionStatus: success
                      transactionType: credit
                      createdAt: '2025-06-04T10:45:06.361576'
                      requestedAt: '2025-06-04T09:47:27.323861'
                      updatedBalance: 20000
                      tableName: credit_transactions
      operationId: put-auth-v1-credit-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                status:
                  type: string
              x-examples:
                Example 1:
                  id: 3225340e-78f6-4a75-ac85-91fb39022b3b
                  status: pending
            examples:
              Example 1:
                value:
                  id: 3225340e-78f6-4a75-ac85-91fb39022b3b
                  status: pending
  /auth/v1/admin/user/credit/deduct:
    put:
      summary: Deduct User Credit (COS ADMIN)
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type: string
                      amount:
                        type: integer
                      transactedBy:
                        type: string
                      transactionStatus:
                        type: string
                      transactionType:
                        type: string
                      createdAt:
                        type: string
                      requestedAt:
                        type: string
                      updatedBalance:
                        type: integer
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: bbc203ba-b7e2-43aa-9533-da2dee243bc7
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      amount: 50
                      transactedBy: a2899137-8458-40a6-9be8-084cfd1890e5
                      transactionStatus: success
                      transactionType: debit
                      createdAt: '2025-06-04T10:51:42.343373'
                      requestedAt: '2025-05-29T19:07:00'
                      updatedBalance: 19950
                      tableName: credit_transactions
      operationId: put-auth-v1-user-credit
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: double
                  x-stoplight:
                    id: 62wmfshusogai
                user_id:
                  type: string
                  x-stoplight:
                    id: 1k9c4h2fbv6g4
                requested_at:
                  type: string
            examples:
              Example 1:
                value:
                  amount: 50
                  user_id: 436cb796-5826-458b-a914-a54721f70997
                  requested_at: '2025-05-29T19:07:00'
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak issued token
      security:
        - authorization: []
  /auth/v1/compute/requests:
    get:
      summary: Get All Pending ComputeRole Requests
      tags:
        - Compute APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 25fcafb9-d65e-454f-9196-8648dcf08854
                        userId: 436cb796-5826-458b-a914-a54721f70997
                        userName: test test
                        status: pending
                        approvedBy: null
                        createdAt: '2025-06-04T10:54:53.301846'
                        updatedAt: '2025-06-04T10:54:53.301846'
                        tableName: compute_role
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        userId:
                          type: string
                        userName:
                          type: string
                        status:
                          type: string
                        approvedBy:
                          type: string
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        tableName:
                          type: string
                  paginationInfo:
                    type: object
                    x-stoplight:
                      id: dvchbrtielggu
                    properties:
                      page:
                        type: integer
                        x-stoplight:
                          id: jsb48m8i9u6tf
                      size:
                        type: integer
                        x-stoplight:
                          id: kvq43ldkz27sd
                      totalPages:
                        type: integer
                        x-stoplight:
                          id: q0k9gr696ttcb
                      totalCount:
                        type: integer
                        x-stoplight:
                          id: 35bjtleqjjbku
                      hasNext:
                        type: boolean
                        x-stoplight:
                          id: sxydke5qcz876
                      hasPrevious:
                        type: boolean
                        x-stoplight:
                          id: bxo6cgx6zpp4r
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - id: 25fcafb9-d65e-454f-9196-8648dcf08854
                        userId: 436cb796-5826-458b-a914-a54721f70997
                        userName: test test
                        status: pending
                        approvedBy: null
                        createdAt: '2025-06-04T10:54:53.301846'
                        updatedAt: '2025-06-04T10:54:53.301846'
                        tableName: compute_role
                    paginationInfo:
                      page: 1
                      size: 1
                      totalCount: 346
                      totalPages: 346
                      hasNext: true
                      hasPrevious: false
      operationId: get-auth-v1-compute-role-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    post:
      summary: Create Compute Role Request
      tags:
        - Compute APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                      userId:
                        type: string
                      userName:
                        type: string
                      status:
                        type: string
                      approvedBy:
                        type: string
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                      tableName:
                        type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: 25fcafb9-d65e-454f-9196-8648dcf08854
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      userName: test test
                      status: pending
                      approvedBy: null
                      createdAt: '2025-06-04T10:54:53.301846'
                      updatedAt: '2025-06-04T10:54:53.301846'
                      tableName: compute_role
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      id: 25fcafb9-d65e-454f-9196-8648dcf08854
                      userId: 436cb796-5826-458b-a914-a54721f70997
                      userName: test test
                      status: pending
                      approvedBy: null
                      createdAt: '2025-06-04T10:54:53.301846'
                      updatedAt: '2025-06-04T10:54:53.301846'
                      tableName: compute_role
      operationId: post-auth-v1-compute-role-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  '/auth/v1/compute/requests/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the request
        schema:
          type: string
          format: uuid
    put:
      summary: Update Compute Roles
      tags:
        - Compute APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: 'Updated Resquest '
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    detail: 'Updated Resquest '
      operationId: put-auth-v1-compute-role-request
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: request id
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
            examples:
              Example 1:
                value:
                  status: granted
  /auth/v1/kyc/verify:
    post:
      summary: Verify KYC
      tags:
        - KYC APIs
      responses:
        '200':
          description: OK
      operationId: post-auth-v1-kyc-verify
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth_code:
                  type: string
                code_verifier:
                  type: string
  '/auth/v1/kyc/confirm/{id}':
    get:
      summary: Confirm KYC verification
      tags:
        - KYC APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-kyc-confirm
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  /auth/v1/organization/user/provider_role/requests:
    get:
      summary: Get All pending provider role requests
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-user-roles
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    post:
      summary: Create a Provider Role Request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1: {}
      operationId: post-auth-v1-user-roles
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                org_id:
                  type: string
                  x-stoplight:
                    id: l9svqkwc3ik2j
  '/auth/v1/organization/user/provider_role/requests/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the request
        schema:
          type: string
          format: uuid
    put:
      summary: Update a Provider Role Request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-user-roles
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  x-stoplight:
                    id: idttjmml4yni9
  /auth/v1/user:
    get:
      summary: (User) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      roles:
                        - offline_access
                        - compute
                        - consumer
                        - default-roles-myrealm
                        - uma_authorization
                      organisationId: ''
                      organisationName: ''
                      sub: 436cb796-5826-458b-a914-a54721f70997
                      emailVerified: true
                      kycVerified: false
                      name: test test
                      preferredUsername: test
                      givenName: test
                      familyName: test
                      email: testing@gmail.com
                      pendingRoles: []
                      organisation:
                        id: 98e74f31-4e40-4615-85b8-61256f0bc7c4
                        organisationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: 436cb796-5826-458b-a914-a54721f70997
                        userName: test test
                        status: granted
                        jobTitle: Employee
                        empId: EMP8790
                        requestedAt: '2025-06-04T06:13:58.917342'
                        processedAt: '2025-06-04T06:13:58.917342'
                        request_type: organisation_join
                      createdAt: '2025-06-04T06:12:48.991'
                      kycData: {}
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      roles:
                        type: array
                        items:
                          type: string
                      organisationId:
                        type: string
                      organisationName:
                        type: string
                      sub:
                        type: string
                      emailVerified:
                        type: boolean
                      kycVerified:
                        type: boolean
                      name:
                        type: string
                      preferredUsername:
                        type: string
                      givenName:
                        type: string
                      familyName:
                        type: string
                      email:
                        type: string
                      pendingRoles:
                        type: array
                        items:
                          type: object
                      organisation:
                        type: object
                        properties:
                          id:
                            type: string
                          organisationId:
                            type: string
                          userId:
                            type: string
                          userName:
                            type: string
                          status:
                            type: string
                          jobTitle:
                            type: string
                          empId:
                            type: string
                          requestedAt:
                            type: string
                          processedAt:
                            type: string
                          request_type:
                            type: string
                      createdAt:
                        type: string
                      kycData:
                        type: object
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      roles:
                        - offline_access
                        - compute
                        - consumer
                        - default-roles-myrealm
                        - uma_authorization
                      organisationId: ''
                      organisationName: ''
                      sub: 436cb796-5826-458b-a914-a54721f70997
                      emailVerified: true
                      kycVerified: false
                      name: test test
                      preferredUsername: test
                      givenName: test
                      familyName: test
                      email: testing@gmail.com
                      pendingRoles: []
                      organisation:
                        id: 98e74f31-4e40-4615-85b8-61256f0bc7c4
                        organisationId: e87246e2-5da5-40b0-973c-690d2f48f879
                        userId: 436cb796-5826-458b-a914-a54721f70997
                        userName: test test
                        status: granted
                        jobTitle: Employee
                        empId: EMP8790
                        requestedAt: '2025-06-04T06:13:58.917342'
                        processedAt: '2025-06-04T06:13:58.917342'
                        request_type: organisation_join
                      createdAt: '2025-06-04T06:12:48.991'
                      kycData: {}
      operationId: get-auth-v1-user
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
    put:
      summary: '(User) Update First Name, Last Name, Social Media Information'
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-user
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  x-stoplight:
                    id: pdtm28py9tigj
                last_name:
                  type: string
                  x-stoplight:
                    id: l8unuppdsu8n6
                twitter_account:
                  type: string
                  x-stoplight:
                    id: dxe1oy55b3ovw
                linkedin_account:
                  type: string
                  x-stoplight:
                    id: gvxoaj47lbpib
                github_account:
                  type: string
                  x-stoplight:
                    id: 66hcqj28wo7vu
  /auth/v1/user/password:
    put:
      summary: '(User) Change Password'
      description: |
        Allows the logged-in user to change their password. 
        Only the new password needs to be provided.
      tags:
        - Role APIs
      operationId: put-auth-v1-user-password
      security:
        - authorization: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_password
              properties:
                new_password:
                  type: string
                  description: The new password to be set
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: 'urn:dx:aaa:success'
                  title:
                    type: string
                    example: 'Password Change Successful'
                  result:
                    type: string
                    example: 'Password updated successfully.'
        '400':
          description: Bad Request - Failed password policy validation
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: 'urn:dx:aaa:error'
                  title:
                    type: string
                    example: 'Password Change Failed'
                  detail:
                    type: string
                    example: 'New password does not meet policy requirements.'
        '401':
          description: Unauthorized - Missing or invalid authentication token
        '500':
          description: Internal Server Error

  '/auth/v1/admin/user/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: (COS Admin) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: object
                    properties:
                      roles:
                        type: array
                        items:
                          type: string
                      organisationId:
                        type: string
                      organisationName:
                        type: string
                      sub:
                        type: string
                      emailVerified:
                        type: boolean
                      kycVerified:
                        type: boolean
                      name:
                        type: string
                      preferredUsername:
                        type: string
                      givenName:
                        type: string
                      familyName:
                        type: string
                      email:
                        type: string
                      pendingRoles:
                        type: array
                        items:
                          type: object
                          properties: {}
                      organisation:
                        type: object
                        properties: {}
                      createdAt:
                        type: string
                      kycData:
                        type: object
                        properties: {}
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      roles:
                        - cos_admin
                        - offline_access
                        - default-roles-myrealm
                        - uma_authorization
                      organisationId: ''
                      organisationName: ''
                      sub: a2899137-8458-40a6-9be8-084cfd1890e5
                      emailVerified: false
                      kycVerified: false
                      name: Srishti Mittal
                      preferredUsername: srishti
                      givenName: Srishti
                      familyName: Mittal
                      email: srishti@gmail.com
                      pendingRoles: []
                      organisation: {}
                      createdAt: '2025-05-21T09:33:12.073'
                      kycData: {}
      operationId: get-auth-v1-user-id-admin
      parameters:
        - schema:
            type: string
          in: query
          name: id
          description: UUID of userId
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  /auth/v1/admin/user:
    get:
      summary: (COS Admin) Get All Users Info
      tags:
        - Role APIs
      responses:
        '200':
          description: children-2-children-0-children-7$0OK
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:aaa:success'
                    title: Success
                    result:
                      - organisationId: org-123
                        organisationName: ''
                        sub: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                        emailVerified: false
                        kycVerified: true
                        name: test test
                        preferredUsername: testuser
                        givenName: test
                        familyName: test
                        email: test@gmail.com
                        pending_roles: []
                        organisation:
                          id: 4202493c-7c64-49b0-8f61-2000ca3d147c
                          requestedBy: c908f4ed-69ef-4d27-8e50-8f95f89b6c4d
                          name: Quants Sandbox
                          logoPath: /logos/ai.png
                          entityType: Private
                          orgSector: Technology
                          websiteLink: 'https://ai.example.com'
                          address: '123 Quant Labs, Bangalore, India'
                          certificatePath: /documents/certificate.pdf
                          pancardPath: /documents/pancard.pdf
                          status: pending
                          userName: test test
                          empId: EMP12345
                          jobTitle: Manager
                          orgManagerphoneNo: +91-9876543210
                          createdAt: '2025-06-03T16:25:25.167724'
                          updatedAt: '2025-06-03T16:25:25.167724'
                          request_type: organisation_create
                        createdAt: null
                        kycInformation: {}
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        organisationId:
                          type: string
                        organisationName:
                          type: string
                        sub:
                          type: string
                        emailVerified:
                          type: boolean
                        kycVerified:
                          type: boolean
                        name:
                          type: string
                        preferredUsername:
                          type: string
                        givenName:
                          type: string
                        familyName:
                          type: string
                        email:
                          type: string
                        pending_roles:
                          type: array
                          items:
                            type: object
                        organisation:
                          type: object
                          properties:
                            id:
                              type: string
                            requestedBy:
                              type: string
                            name:
                              type: string
                            logoPath:
                              type: string
                            entityType:
                              type: string
                            orgSector:
                              type: string
                            websiteLink:
[...]
