openapi: 3.0.0
info:
  title: 'DX Authentication, Authorization, and Accounting (AAA) Server'
  version: 5.6.0
  description: 'API specification for DX AAA Server. These APIs are used by users manage organisations, creadits  '
  license:
    name: Apache 2.0
  contact:
    name: For support contact DX Team at
    email: support@iudx.org.in
servers:
  - url: 'https://cos.iudx.org.in'
    description: Production
  - url: 'https://authvertx.iudx.io'
    description: Development
paths:
  /auth/v1/organisations/requests:
    get:
      summary: Get all organisation creation requests
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 7q9mp74ovs00p
                  title:
                    type: string
                    x-stoplight:
                      id: 84dpnj7j7fgec
                  results:
                    type: array
                    x-stoplight:
                      id: iqqhihoum18ll
                    items:
                      x-stoplight:
                        id: 9k3xftqxgfqfr
                      type: object
                      properties:
                        org_id:
                          type: string
                          x-stoplight:
                            id: ad2kwiqt3gf0x
                        user_id:
                          type: string
                          x-stoplight:
                            id: cxikbckn7c02v
                        status:
                          type: string
                          x-stoplight:
                            id: b0msag250xk42
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:Success'
                    title: Organisation Joining Requests
                    results:
                      - org_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                        user_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                        status: Pending
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - type
                  - title
                  - detail
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: wryqyab0ia55b
                  title:
                    type: string
                    x-stoplight:
                      id: s5ix6uyvf02y6
                  detail:
                    type: string
                    x-stoplight:
                      id: n7cqv95ogdboo
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: hmywovy3990xb
                  title:
                    type: string
                    x-stoplight:
                      id: 9ob7pmmtusmjo
                  detail:
                    type: string
                    x-stoplight:
                      id: 3hvi1807bvjlq
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:MissingInformation'
                    title: Joining requests not found
                    detail: No joining requests
      operationId: get-auth-v1-organisations-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
        - schema:
            type: string
          in: query
          name: org_id
      security:
        - authorization: []
    parameters: []
    post:
      summary: New organisation creation request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: post-auth-v1-organisations-request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                logo_path:
                  type: string
                entity_type:
                  type: string
                org_sector:
                  type: string
                website_link:
                  type: string
                address:
                  type: string
                certificate_path:
                  type: string
                pancard_path:
                  type: string
                emp_id:
                  type: string
                job_title:
                  type: string
                phone_no:
                  type: string
              x-examples:
                Example 1:
                  name: Quantum Labs
                  logo_path: /assets/logos/quantumlabs.png
                  entity_type: Startup
                  org_sector: Research & Development
                  website_link: 'https://quantumlabs.io'
                  address: '42 Tech Boulevard, Hyderabad, India'
                  certificate_path: /docs/certificates/quantum_cert.pdf
                  pancard_path: /docs/ids/quantum_pancard.pdf
                  emp_id: EMP98765
                  job_title: Operations Lead
                  phone_no: +91-9123456789
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          required: true
          description: Keycloak Issued Token
      security:
        - authorization: []
  /auth/v1/organisations/requests/approve:
    post:
      summary: Approve creation of new organisation
      tags:
        - Organisation APIs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 3xk955kfbcvzv
                  title:
                    type: string
                    x-stoplight:
                      id: bjl3657k9lfne
                  results:
                    type: object
                    x-stoplight:
                      id: 317hv8oa7cp5k
                    properties:
                      req_id:
                        type: string
                        x-stoplight:
                          id: 4xfk7muyxvfi1
                      org_name:
                        type: string
                        x-stoplight:
                          id: dfzpf836dhfeo
                      user_id:
                        type: string
                        x-stoplight:
                          id: jy1dd1q3w6eot
                      document_path:
                        type: string
                        x-stoplight:
                          id: 7e2sktgy6am6p
                      status:
                        type: string
                        x-stoplight:
                          id: wb8lrqfe46k0u
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:Success'
                    title: Organisation Creation Approved
                    results:
                      req_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                      org_name: Data Kaveri
                      user_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                      document_path: /tmp/
                      status: Approved
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 8mwan6a4rudya
                  title:
                    type: string
                    x-stoplight:
                      id: 9w5xzqrq9x19k
                  detail:
                    type: string
                    x-stoplight:
                      id: qlvemu921kdlk
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidInput'
                    title: Invalid Request
                    detail: The Joining Request ID is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: nt8j2b9frgg5r
                  title:
                    type: string
                    x-stoplight:
                      id: lyqb3fbie5u7k
                  detail:
                    type: string
                    x-stoplight:
                      id: kf7uun4lxc5os
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 0f1x03q0j8o00
                  title:
                    type: string
                    x-stoplight:
                      id: qyo2ele3ov18a
                  '':
                    type: string
                    x-stoplight:
                      id: 88tmiotxgp7lb
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:AlreadyExists'
                    title: Approval Already exists
                    detail: The request is already approved
      operationId: post-auth-v1-approve-create_org
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                req_id:
                  type: string
                  x-stoplight:
                    id: zub3jg9z34a4p
                status:
                  type: string
                  x-stoplight:
                    id: pz5gx6wsffeut
      security:
        - authorization: []
  '/auth/v1/organisations/{id}/join_requests':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
    get:
      summary: Get all requests for an organisation
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-organisations-join-requests
      security:
        - authorization: []
    post:
      summary: Create Request to Join an Organisation
      tags:
        - Organisation APIs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 29nep4apwm32a
                  title:
                    type: string
                    x-stoplight:
                      id: nzvperaf96ag6
                  results:
                    type: object
                    x-stoplight:
                      id: n7sdof0ycwr0m
                    properties:
                      org_name:
                        type: string
                        x-stoplight:
                          id: vzb0nmd3r0r8m
                      user_id:
                        type: string
                        x-stoplight:
                          id: 3hodrex14oq7g
                      status:
                        type: string
                        x-stoplight:
                          id: iy6ve6ip5uu69
                      req_id:
                        type: string
                        x-stoplight:
                          id: n5icpu9dhpz6h
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:Success'
                    title: Request has been created to join the organisation
                    results:
                      org_name: Data Kaveri
                      user_id: string
                      status: Pending
                      req_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: vugk6ilg26a7a
                  title:
                    type: string
                    x-stoplight:
                      id: 0nehty79al40z
                  '':
                    type: string
                    x-stoplight:
                      id: a0ccu7f7eoujm
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidInput'
                    title: Invalid Organisation
                    detail: The Organisation is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: ez0mbo8avj6am
                  title:
                    type: string
                    x-stoplight:
                      id: ipq7cxbadj5tu
                  detail:
                    type: string
                    x-stoplight:
                      id: eoitel89s12bg
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: oyd38jyazdo3g
                  title:
                    type: string
                    x-stoplight:
                      id: 6wpuh9er6my8z
                  detail:
                    type: string
                    x-stoplight:
                      id: ivd2l6mxpmzzc
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:AlreadyExists'
                    title: User Already Exists
                    detail: User has already raised a joining request
      operationId: post-auth-v1-organisations-join-requests
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                job_title:
                  type: string
                  x-stoplight:
                    id: u1mdnw61cyv6c
                emp_id:
                  x-stoplight:
                    id: u3n9nnqgrnbot
                  type: string
      security:
        - authorization: []
  '/auth/v1/organisations/{id}/join_requests/{req_id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
      - name: req_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Request ID of the join request to update
    put:
      summary: Approve or update status of a join request
      tags:
        - Organisation APIs
      operationId: put-auth-v1-organisations-join-requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - granted
                    - rejected
                remarks:
                  type: string
      responses:
        '200':
          description: Status updated successfully
        '400':
          description: Invalid request or status
        '401':
          description: Unauthorized
        '404':
          description: Join request not found
      security:
        - authorization: []
  /auth/v1/organisations:
    get:
      summary: List All Organisations
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: gvwzdaige7g6y
                  title:
                    type: string
                    x-stoplight:
                      id: eqamz2eiu5uwt
                  results:
                    type: array
                    x-stoplight:
                      id: aa2va41g7vk1k
                    items:
                      x-stoplight:
                        id: zs6hweats6l8t
                      type: object
                      properties:
                        org_id:
                          type: string
                          x-stoplight:
                            id: b7nbqcc1cuh2e
                        org_name:
                          type: string
                          x-stoplight:
                            id: zxiimmeicuqj5
                        document_path:
                          type: string
                          x-stoplight:
                            id: qsfbqirfq5gfn
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:Success'
                    title: Organisations
                    results:
                      - org_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                        org_name: Data Kaveri
                        document_path: /tmp/
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 9wrbsxlphpksr
                  title:
                    type: string
                    x-stoplight:
                      id: r7kv2o5mhdmrk
                  detail:
                    type: string
                    x-stoplight:
                      id: eavbt2unc332t
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: 0d521fniq5ryq
                  title:
                    type: string
                    x-stoplight:
                      id: coae2yhcsmxkx
                  detail:
                    type: string
                    x-stoplight:
                      id: pwpn3m1hrm4f7
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:MissingInformation'
                    title: No Organisations Found
                    detail: No Organisations Found
      operationId: get-auth-v1-org
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  '/auth/v1/organisations/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    delete:
      summary: Delete organisation by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: delete-auth-v1-organisations-id
      security:
        - authorization: []
    put:
      summary: Update Organisation by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-organisations-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                org_name:
                  type: string
                  x-stoplight:
                    id: amwnghki9g15y
                document_path:
                  type: string
                  x-stoplight:
                    id: aicq0bnwnqk88
      security:
        - authorization: []
  '/auth/v1/organisations/{id}/users':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
    get:
      summary: List organisation Users
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: a7vtx6rs4m0ff
                  title:
                    type: string
                    x-stoplight:
                      id: xzscsryvdk9uc
                  results:
                    type: array
                    x-stoplight:
                      id: oledqptz2ehx6
                    items:
                      x-stoplight:
                        id: ktffw4vaox9io
                      type: object
                      properties:
                        org_id:
                          type: string
                          x-stoplight:
                            id: a7gu8pg6fxu2h
                        user_id:
                          type: string
                          x-stoplight:
                            id: yhzlt4lwonart
                        role:
                          type: string
                          x-stoplight:
                            id: 4a5vbkzoauznr
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:Success'
                    title: Organisation Admins
                    results:
                      - org_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                        user_id: 5d019ee7-e1d4-4f65-9a14-2e3b656b7296
                        role: Explorer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    x-stoplight:
                      id: ki8ptrubbpfo4
                  title:
                    type: string
                    x-stoplight:
                      id: cy2up8v8a5pd0
                  detail:
                    type: string
                    x-stoplight:
                      id: 67gt97omjofae
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:InvalidAuthenticationToken'
                    title: Token authentication failed
                    detail: Inactive Token
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Example 1:
                  value:
                    type: 'urn:dx:as:MissingInformation'
                    title: Admins not found
                    detail: No Organisation Admins Found
      operationId: get-auth-v1-org-users
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak Issued Token
          required: true
      security:
        - authorization: []
  '/auth/v1/organisations/{id}/users/{user_id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
      - schema:
          type: string
        name: user_id
        in: path
        required: true
      - name: id
        in: path
        required: true
        description: UUID of the organisation
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        required: true
        description: UUID of the user
        schema:
          type: string
          format: uuid
    delete:
      summary: Delete User by ID
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: delete-auth-v1-organisations-users-id
      security:
        - authorization: []
    put:
      summary: Update Organization User Role
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-organization-users-role
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  x-stoplight:
                    id: 35dhxezcb35eq
    get:
      summary: (Org Admin) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-organisations-id-users-user_id
      security:
        - authorization: []
  /auth/v1/credit/request:
    get:
      summary: Get all credit requests by status
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-credit
      security:
        - authorization: []
      parameters:
        - schema:
            type: string
          in: query
          name: status
          description: Status of Credit Request
          required: true
    post:
      summary: Create Credit Request
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
      operationId: post-auth-v1-credit-request
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  x-stoplight:
                    id: 37g76x7a4vgf8
    put:
      summary: Update Credit Request Status
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-credit-request
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                req_id:
                  type: string
                  x-stoplight:
                    id: jbgy3jvpgjyyv
                status:
                  type: string
                  x-stoplight:
                    id: d2cd0vtwz5hv1
  /auth/v1/user/credit:
    get:
      summary: Get User Credit Balance
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-user-credit
      security:
        - authorization: []
    put:
      summary: Deduct User Credit (COS ADMIN)
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-user-credit
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  x-stoplight:
                    id: 62wmfshusogai
                user_id:
                  type: string
                  x-stoplight:
                    id: 1k9c4h2fbv6g4
  '/auth/v1/user/credit/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get Other Users Credit Balance (COS ADMIN)
      tags:
        - Credit APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-user-credit-id
      security:
        - authorization: []
  /auth/v1/compute/requests:
    get:
      summary: Get All Pending ComputeRole Requests
      tags:
        - Compute APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-auth-v1-compute-role-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak issued Token
      security:
        - authorization: []
    post:
      summary: Create Compute Role Request
      tags:
        - Compute APIs
      responses:
        '200':
          description: OK
      operationId: post-auth-v1-compute-role-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak issued Token
      security:
        - authorization: []
  '/auth/v1/compute/requests/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the request
        schema:
          type: string
          format: uuid
    put:
      summary: Update Compute Roles
      tags:
        - Compute APIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: put-auth-v1-compute-role-request
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Keycloak issued Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      security:
        - authorization: []
  /auth/v1/kyc/verify:
    post:
      summary: Verify KYC
      tags:
        - KYC APIs
      responses:
        '200':
          description: OK
      operationId: post-auth-v1-kyc-verify
      parameters:
        - schema:
            type: string
          in: header
          description: Keycloak Issued Token
          name: Authorization
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth_code:
                  type: string
                code_verifier:
                  type: string
      security:
        - authorization: []
  '/auth/v1/kyc/confirm/{id}':
    get:
      summary: Confirm KYC verification
      tags:
        - KYC APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-kyc-confirm
      security:
        - authorization: []
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
  /auth/v1/organization/user/provider_role/requests:
    get:
      summary: Get All pending provider role requests
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-user-roles
      security:
        - authorization: []
    post:
      summary: Create a Provider Role Request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: post-auth-v1-user-roles
      security:
        - authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                org_id:
                  type: string
                  x-stoplight:
                    id: l9svqkwc3ik2j
  '/auth/v1/organization/user/provider_role/requests/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: UUID of the request
        schema:
          type: string
          format: uuid
    put:
      summary: Update a Provider Role Request
      tags:
        - Organisation APIs
      responses:
        '200':
          description: OK
      operationId: put-auth-v1-user-roles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  x-stoplight:
                    id: idttjmml4yni9
      security:
        - authorization: []
  /auth/v1/user:
    get:
      summary: (User) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-user
      security:
        - authorization: []
  '/auth/v1/admin/user/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: (COS Admin) Get User Information
      tags:
        - Role APIs
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-user-id-admin
      security:
        - authorization: []
  /auth/v1/admin/user:
    get:
      summary: (COS Admin) Get All Users Info
      tags: [Role APIs]
      responses:
        '200':
          description: OK
      operationId: get-auth-v1-admin-user
      security:
        - authorization: []
components:
  securitySchemes:
    authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Keycloak issued Bearer token
security:
  - authorization: []